@using System.Text.Json
@model PgManagerApp.Models.DashboardViewModel

<style>
    /* Ensure the chart container is scrollable */
    .scrollable-container {
        overflow-x: auto;
        white-space: nowrap;
    }

    /* Optional: style the chart container for better presentation */
    #chartContainer {
        display: inline-block;
    }
</style>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Dashboard Header -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 m-1">Dashboard</h1>
        <a href="#" id="downloadPdfBtn" class="d-sm-inline-block btn btn-sm m-1 btn-primary shadow-sm" data-toggle="modal"
           data-target="#downloadModal"><i class="fas fa-download mr-1 fa-md text-white-50"></i> Download Report</a>
    </div>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@TempData["Success"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@TempData["Error"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <!-- Download Modal -->
    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Download Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="startDate">Start Date*</label>
                        <input type="date" id="startDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date*</label>
                        <input type="date" id="endDate" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmDownloadBtn" class="btn btn-sm btn-primary" disabled>
                        <i class="fas fa-download mr-1 fa-md text-white-50"></i> Download
                    </button>
                </div>
            </div>
        </div>
    </div>




    <!-- Content Row -->
    <div class="downloadReport">
    <div class="row d-fleex justify-content-center align-items-center ">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-4 col-sm-6 mt-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs  text-primary text-uppercase mb-1">
                                Total Employees
                            </div>
                            <div class="h5 mb-0  text-gray-800">@Model.TotalUsers</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x ml-2 text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-4 col-sm-6 mt-2">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs  text-success text-uppercase mb-1">
                                Total Tasks
                            </div>
                            <div class="h5 mb-0  text-gray-800">@Model.TotalTasks</div>
                        </div>
                        <div class="col-auto">
                                <i class="fas fa-hourglass-half fa-2x ml-2 text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-4 col-sm-6 mt-2">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs  text-danger text-uppercase mb-1">
                               Total Projects
                            </div>
                            <div class="h5 mb-0  text-gray-800">@Model.TotalProjects</div>
                        </div>
                        <div class="col-auto">
                                <i class="fas fa-project-diagram fa-2x ml-2 text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-4 col-sm-6 mt-2">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs  text-success text-uppercase mb-1">
                                Holiday List
                            </div>
                            <div class="h5 mb-0  text-gray-800">@Model.HolidayList</div>
                        </div>
                        <div class="col-auto">
                                <i class="fas fa-calendar fa-2x ml-2 text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- First Card: Create Designation -->
            <div class="col-xl-4 col-md-6 col-sm-12 mt-3">
                <div class="card border-left-primary shadow h-100 py-4">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-3">
                                <div class="text-xs  text-primary text-uppercase mb-3">
                                    Create Designation
                                </div>
                                <input type="text" class="form-control h5  text-gray-800 mb-3" asp-for="@Model.CreateDesignation" placeholder="Enter Designation">
                                <button class="btn btn-primary w-100">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Card: Create Projects -->
            <div class="col-xl-4 col-md-6 col-sm-12 mt-3">
                <div class="card border-left-warning shadow h-100 py-4">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-3">
                                <div class="text-xs text-warning text-uppercase mb-3">
                                    Create Projects
                                </div>
                                <form asp-action="AddProject" method="post">
                                    <input type="text" class="form-control h5  text-gray-800 mb-3" name="projectName" placeholder="Enter Project Name" required>
                                    <button class="btn btn-warning w-100" type="submit">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
        <div class="row">
            
        </div>

    </div>

</div>
<!-- End Page Content -->
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>


<script type="text/javascript">


</script>
